{% extends 'base.html.twig' %}

{% block title %}Liste des chants{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Liste des chants</h1>

    <a href="{{ path('app_song_edit') }}" class="btn btn-primary mb-3">Ajouter un chant</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Preview</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.type.name }}</td>
                    <td>
                        {% if song.previewUrl %}
        {% set youtubeId = song.previewUrl 
            |replace({'https://youtu.be/':'', 
                      'https://www.youtube.com/watch?v=':'', 
                      '&feature=youtu.be':'', 
                      '&si=':''}) 
        %}
        <div style= "min-height: 150px; min-width: 250px;" class="ratio ratio-16x9" >
            <iframe src="https://www.youtube.com/embed/{{ youtubeId }}" 
                    title="{{ song.name }}" allowfullscreen></iframe>
        </div>
    {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_song_view', {'id': song.id}) }}" class="btn btn-sm btn-info">Voir</a>
                        {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_MUSICIAN' in app.user.roles %}
                        <a href="{{ path('app_song_edit', {'id': song.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                        {% endif %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <form method="post" action="{{ path('app_song_delete', {'id': song.id}) }}" style="display:inline;" 
          onsubmit="return confirm('Voulez-vous vraiment supprimer ce chant ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
        <button class="btn btn-sm btn-danger">Supprimer</button>
    </form>
    {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun chant trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}