{# templates/song/suggest.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Proposer un chant{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow p-4" style="max-width: 1200px; margin: auto;">
        <div class="modal-header border-0 pb-0">
            <h5 class="modal-title">Ajouter un nouvel élément</h5>
        </div>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'id': 'suggestion-form'}}) }}

        <div class="modal-body">
            {% include 'song/_suggestion_content.html.twig' with { form: form } %}
            {{ form_rest(form) }}
        </div>
        
        <div class="modal-footer border-0">
            <a href="{{ path('app_song_index') }}" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('song/_suggestion_ui_script.html.twig') }}
{% endblock %}